<div class="alert alert-block alert-info">
    Import <b>Libraries</b>
</div>

In [152]:
# !pip install pandas
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

<div class="alert alert-block alert-info">
    1. <b>Data Gathering</b> : <a href="https://www.kaggle.com/datasets/shree1992/housedata">Click Me</a>
    <br>
    2. <b>Data Loading</b>
</div>

In [153]:
df = pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [154]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [155]:
df.tail(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [156]:
df.columns

# for cols in df.columns:
#     print(cols)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [157]:
df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [158]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [160]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 768 and Number of Columns: 9

In [161]:
df['BloodPressure'].unique()

array([ 72,  66,  64,  40,  74,  50,   0,  70,  96,  92,  80,  60,  84,
        30,  88,  90,  94,  76,  82,  75,  58,  78,  68, 110,  56,  62,
        85,  86,  48,  44,  65, 108,  55, 122,  54,  52,  98, 104,  95,
        46, 102, 100,  61,  24,  38, 106, 114], dtype=int64)

In [162]:
df.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

In [163]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-warning">
    4.1. <b>Manage Null Values</b>
</div>

In [164]:
# Check if 'BMI' exists before dropping
if 'BMI' in df.columns:
    df = df.drop('BMI', axis=1)

In [165]:
# Check if 'Age' exists before dropping
if 'Age' in df.columns:
    df = df.drop('Age', axis=1)

In [166]:
# For Object / String Type
def fillnaObjectMode(cols):
    for i in cols:
        if i in df.columns:
            df[i] = df[i].fillna(df[i].mode()[0])

columns = [col for col in ['Age', 'Glucose', 'BloodPressure'] if col in df.columns]

In [167]:
# For Int Type
def fillnaIntMode(cols):
    for i in cols:
        if i in df.columns:
            df[i] = df[i].fillna(df[i].mode()[0])

columns = [col for col in ['Glucose','BloodPressure','Heart Disease','Chest pain type','Slope of ST','ST depression'] if col in df.columns]
fillnaIntMode(columns)

In [168]:
# For Float Type
def fillnaFloatMean(cols):
    for i in cols:
        if i in df.columns:
            df[i] = df[i].fillna(df[i].mean())

columns = [col for col in ['Age','Cholesterol','BP','Heart Disease','Chest pain type','Slope of ST','ST depression'] if col in df.columns]
fillnaFloatMean(columns)

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   DiabetesPedigreeFunction  768 non-null    float64
 6   Outcome                   768 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 42.1 KB

<div class="alert alert-block alert-warning">
    4.2. <b>Manage Data Types</b>
</div>

In [170]:
# Safely convert 'Age' to int if it exists
if 'Age' in df.columns:
    df['Age'] = df['Age'].astype('int64')
# df['price'].astype('int64', inplace=True)

In [171]:
# For Float Type
def changeFloatToInt(cols):
    for i in cols:
        if i in df.columns:
            df[i] = df[i].astype('int64')

columns = [col for col in ['Glucose','BloodPressure','BMI','Insulin','Pregnancies','SkinThickness'] if col in df.columns]
changeFloatToInt(columns)

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   DiabetesPedigreeFunction  768 non-null    float64
 6   Outcome                   768 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 42.1 KB

In [173]:
# !pip install scikit-learn

# import numpy as np
# from sklearn.preprocessing import LabelEncoder

In [174]:
# data = pd.DataFrame({'city':df['city'].unique()})
# data_LE = LabelEncoder()
# data_LE.fit(np.ravel(data))    # data_LE.fit(data)
# df['city'] = data_LE.transform(df['city'])

In [175]:
def convertObjToInt(cols):
    for i in cols:
        if i in df.columns:
            data = pd.DataFrame({i:df[i].unique()})
            data_LE = LabelEncoder()
            data_LE.fit(np.ravel(data))    # data_LE.fit(data)
            df[i] = data_LE.transform(df[i])
        
columns = [col for col in ['Glucose','BloodPressure','BMI','Insulin','Pregnancies','SkinThickness'] if col in df.columns]
convertObjToInt(columns)

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   DiabetesPedigreeFunction  768 non-null    float64
 6   Outcome                   768 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 42.1 KB

In [177]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Outcome
0,6,86,22,28,0,0.627,1
1,1,23,19,22,0,0.351,0

In [178]:
df.to_csv('processed_data.csv', index=False, header=True)

In [179]:
df = pd.read_csv('processed_data.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Outcome
0,6,86,22,28,0,0.627,1
1,1,23,19,22,0,0.351,0
2,8,121,17,0,0,0.672,1
3,1,27,19,16,62,0.167,0
4,0,75,4,28,102,2.288,1
...,...,...,...,...,...,...,...
763,10,39,25,41,108,0.171,0
764,2,60,21,20,0,0.340,0
765,5,59,22,16,71,0.245,0
766,1,64,14,0,0,0.349,1
767,1,31,21,24,0,0.315,0