In [1]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

Data Gathering
Data Loading

In [2]:
df = pd.read_csv("diabetes.csv")

Data Exploration

In [3]:
df.head(2)

,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Diabetes
0,86,22,0,33.6,0.627,50,1,1
1,23,19,0,26.6,0.351,31,0,0

In [4]:
df.tail(2)

,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Diabetes
766,64,14,0,30.1,0.349,47,1,1
767,31,21,0,30.4,0.315,23,0,0

In [5]:
df.columns

Index(['Glucose', 'BloodPressure', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome', 'Diabetes'],
      dtype='object')

In [6]:
df.count()

Glucose                     768
BloodPressure               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
Diabetes                    768
dtype: int64

In [7]:
df.describe()

,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,59.322917,21.264323,42.417969,31.992578,0.471876,33.240885,0.348958,0.348958
std,30.510176,8.688687,52.689353,7.884160,0.331329,11.760232,0.476951,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000,0.000000
25%,37.000000,16.000000,0.000000,27.300000,0.243750,24.000000,0.000000,0.000000
50%,55.000000,22.000000,8.500000,32.000000,0.372500,29.000000,0.000000,0.000000
75%,78.250000,27.000000,80.250000,36.600000,0.626250,41.000000,1.000000,1.000000
max,135.000000,46.000000,185.000000,67.100000,2.420000,81.000000,1.000000,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Glucose                   768 non-null    int64
 1   BloodPressure             768 non-null    int64
 2   Insulin                   768 non-null    int64
 3   BMI                       768 non-null    float64
 4   DiabetesPedigreeFunction  768 non-null    float64
 5   Age                       768 non-null    int64
 6   Outcome                   768 non-null    int64
 7   Diabetes                  768 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 48.1 KB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 768 and Number of Columns: 8

In [10]:
df['Age'].unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [11]:
df.nunique()

Glucose                     136
BloodPressure                47
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
Diabetes                      2
dtype: int64

In [12]:
df.isnull().sum()

Glucose                     0
BloodPressure               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
Diabetes                    0
dtype: int64

Data Pre-Processing

Manage Null Values

In [15]:

df = df.drop('Age', axis=1)

In [18]:

df = df.drop('BMI', axis=1)

In [21]:

def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns =[ 'Glucose', 'BloodPressure', 'Insulin', 'DiabetesPedigreeFunction', 'Outcome']
fillnaObjectMode(columns)

In [ ]:

def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns =[ 'Glucose', 'BloodPressure', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']
fillnaIntMode(columns)

In [23]:

def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())


columns =[ 'Glucose', 'BloodPressure', 'Insulin', 'DiabetesPedigreeFunction', 'Outcome']
fillnaFloatMean(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Glucose                   768 non-null    int64
 1   BloodPressure             768 non-null    int64
 2   Insulin                   768 non-null    int64
 3   DiabetesPedigreeFunction  768 non-null    float64
 4   Outcome                   768 non-null    int64
 5   Diabetes                  768 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 36.1 KB

Manage Data Types

In [25]:
df['Diabetes'] = df['Outcome'].astype('int64')

In [26]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = [ 'Outcome', 'Glucose', 'BloodPressure', 'Insulin',]
changeFloatToInt(columns)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Glucose                   768 non-null    int64
 1   BloodPressure             768 non-null    int64
 2   Insulin                   768 non-null    int64
 3   DiabetesPedigreeFunction  768 non-null    float64
 4   Outcome                   768 non-null    int64
 5   Diabetes                  768 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 36.1 KB

In [28]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))   
        df[i] = data_LE.transform(df[i])
        

columns = [ 'Outcome', 'Glucose', 'BloodPressure', 'Insulin',]
convertObjToInt(columns)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Glucose                   768 non-null    int64
 1   BloodPressure             768 non-null    int64
 2   Insulin                   768 non-null    int64
 3   DiabetesPedigreeFunction  768 non-null    float64
 4   Outcome                   768 non-null    int64
 5   Diabetes                  768 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 36.1 KB

In [30]:
df.head(2)

,Glucose,BloodPressure,Insulin,DiabetesPedigreeFunction,Outcome,Diabetes
0,86,22,0,0.627,1,1
1,23,19,0,0.351,0,0

In [31]:
df.to_csv('diabetes.csv', index=False, header=True)

In [32]:
df = pd.read_csv('diabetes.csv')
df

,Glucose,BloodPressure,Insulin,DiabetesPedigreeFunction,Outcome,Diabetes
0,86,22,0,0.627,1,1
1,23,19,0,0.351,0,0
2,121,17,0,0.672,1,1
3,27,19,62,0.167,0,0
4,75,4,102,2.288,1,1
...,...,...,...,...,...,...
763,39,25,108,0.171,0,0
764,60,21,0,0.340,0,0
765,59,22,71,0.245,0,0
766,64,14,0,0.349,1,1
767,31,21,0,0.315,0,0

Train - Test Splitting

In [33]:
import pandas as pd
df = pd.read_csv('diabetes.csv')

df.columns

Index(['Glucose', 'BloodPressure', 'Insulin', 'DiabetesPedigreeFunction',
       'Outcome', 'Diabetes'],
      dtype='object')

In [35]:
X = df.drop('Outcome', axis=1)   
y = df['Glucose']

In [36]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [37]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(537, 5) (537,)
(231, 5) (231,)

Applying Classifier / Model Training

In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [39]:
df = pd.read_csv("diabetes.csv")

In [40]:
def convertObjToInt(cols):
    for i in cols:
        label = LabelEncoder()
        df[i] = label.fit_transform(df[i])
        
columns = [ 'Outcome', 'Glucose', 'BloodPressure', 'Insulin',]
convertObjToInt(columns)

In [41]:
X = df.drop("Diabetes", axis=1)
y = df["Diabetes"]

In [42]:
train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, shuffle=True, random_state=42
)

In [43]:
model_svc = SVC()

model_svc.fit(train_X, train_y)

print("Model trained successfully!")

Model trained successfully!

In [44]:
accuracy = model_svc.score(test_X, test_y)
print("Accuracy:", accuracy)

Accuracy: 0.7316017316017316

In [45]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [46]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))